// width: 100%;
//     max-width: 73rem;
//     background-color: var(--light-theme-card-background);
//     border-radius: 1.5rem;
//     display: flex;
//     align-items: center;
//     box-shadow: 0 1rem 2rem rgb(0 0 0 / 10%);
//     margin-bottom: 2.4rem;
//     position: relative;

.wrapper {
  position: relative;
  width: 100%;
  max-width: 54rem;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  background-color: var(--card-background);
  border-radius: 0.5rem;
  margin-bottom: 2.4rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.input-text {
  background-color: transparent;
  outline: none;
  width: 100%;
  color: var(--input-text-color);
  border: none;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 400;
  caret-color: var(--input-text-caret);

  &::placeholder {
    color: var(--input-text-placeholder);
  }
}

.button {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  border: 1px solid var(--checkbox-border);
  appearance: none;
  margin: 2rem 2.4rem;
  background-color: var(--card-background);

  &:hover {
    cursor: pointer;
  }
}
