.toggle {
  width: 2.6rem;
  height: 2.6rem;
  z-index: 10;
  appearance: none;
  border: none;
  background-color: transparent;

  &.dark {
    background-image: url("../../../images/icon-sun.svg");
  }

  &.light {
    background-image: url("../../../images/icon-moon.svg");
  }

  &:hover {
    cursor: pointer;
  }
}
